main {
    background-color: rgb(35, 43, 65);
    height: 100%;
    width: 100%;
    text-align: center;
    color: azure;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.foot {
    background-color: steelblue;
    height: 150px;
    text-align: center;
}

.page-title {
padding-bottom: 35px;
}

.snuffy {
    height: 200px;
    width: 200px;
    position: relative;
    margin:auto;
}

#snuffyPicStart {
    transition-duration: 3s;
    height: 85%;
}

.rotate-clock {
    transform: rotate(360deg);
}

.rotate-widd {
    transform: rotate(-360deg);
}

.btn {
padding: 2%;
margin: 20px;
}

